{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>主页测试</title>{% endblock %}
    {% block link %}
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
        <link rel="stylesheet" href="{% static 'css/indexTTest.css' %}">
        <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    {% endblock %}
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/headerTest.css' %}">
    <style>
        {#body{background-color: #EFEFEF}#}
        body{background-color: #333333}
    </style>
</head>

<body>
{% block header %}
<div id="header">
    <div class="header_top"></div>
    <div class="header_center">
        <div class="h_c_logo">
            <img src="{% static 'images/logo.png' %}" alt="">
        </div>
        <div class="nav">
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="{% url 'index:movie' %}">电影</a></li>
                <li><a href="{% url 'index:rank' %}">榜单</a></li>
            </ul>
        </div>
        <div class="h_c_search">
            <form action="#">
                <input type="text" placeholder="请输入电影名" class="t_input">
                <button type="submit" class="t_button"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="user_message">
            <a href="{% url 'index:login' %}">
                <img class="user_photo" src="{% static 'images/username.png' %}">
                <p>登录</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}


{% block banner %}
    <div id="ad" style="text-align: center;">
    <ul id="ad_img" >
        <li><img src="{% static 'images/banner/heidi.png' %}"></li>
        <li><img src="{% static 'images/banner/joker.png' %}"></li>
        <li><img src="{% static 'images/banner/whiteSnake.png' %}"></li>
        <li><img src="{% static 'images/banner/zootopia.png' %}"></li>
    </ul>
    <ul id="ad_num">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
</div>
{% endblock %}


{% block main %}
<div id="ms" style="float: left;">
    <div class="ms_top">
        <span>正在热映</span>
    </div>
    <div class="ms_body">
        <div class="ms_body_left">
            <ul>
                <li>
                    <a href="{% url 'index:movieDetail' %}">
                        <img src="https://img9.doubanio.com/view/photo/l/public/p2700138245.webp" alt="">
                        <p class="name">天书奇谭</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>胡萝</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2395517414.webp" alt="">
                        <p class="name">爱乐之城</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2868462052.webp" alt="">
                        <p class="name">花束般的恋爱</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="ms_body_center">
            <ul>
                <li>
                    <a href="{% url 'index:movieDetail' %}">
                        <img src="https://img9.doubanio.com/view/photo/m/public/p2655030796.webp" alt="">
                        <p class="name">白蛇2：青蛇劫起</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>罗天亮</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://img2.doubanio.com/view/photo/m/public/p1219939183.webp" alt="">
                        <p class="name">亚当斯一家</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://img9.doubanio.com/view/photo/m/public/p2535260806.webp" alt="">
                        <p class="name">无双</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="ms_body_right">
            <ul>
                <li>
                    <a href="">
                        <img src="https://img1.doubanio.com/view/photo/m/public/p2277799019.webp" alt="">
                        <p class="name">狮子王</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://img1.doubanio.com/view/photo/m/public/p2016401659.webp" alt="">
                        <p class="name">傲慢与偏见</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://img1.doubanio.com/view/photo/l/public/p2125670899.webp" alt="">
                        <p class="name">梁祝</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="hl" style="float: left;">
    <div class="hl_top">
        <span>今日票房</span>
    </div>
    <div class="hl_body">
        <ul>
            <li><a>测试用-青岛XX公司01</a></li>
            <li><a>测试用-青岛XX公司02</a></li>
            <li><a>测试用-青岛XX公司03</a></li>
            <li><a>测试用-青岛XX公司04</a></li>
            <li><a>测试用-青岛XX公司05</a></li>
            <li><a>测试用-青岛XX公司06</a></li>
            <li><a>测试用-青岛XX公司07</a></li>
            <li><a>测试用-青岛XX公司08</a></li>
            <li><a>测试用-青岛XX公司09</a></li>
            <li><a>测试用-青岛XX公司10</a></li>
        </ul>
    </div>
</div>
{% endblock %}


<!--翻页按钮 干脆就只放在all movie-->
{% block next_button %}
    <div class="page-icon">
    <span class="page-disabled"><i></i>上一页</span>
    <span class="page-current">1</span>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">7</a>
    <a href="#">...</a>
    <a href="#">10</a>
    <a class="page-next" href="#">下一页<i></i></a>
</div>
{% endblock %}


<!--尾部-->
{% block footer %}
    <div id="footer">
    <div class="link">
        <a href="">关于我们</a>
        |
        <a href="">联系我们</a>
        |
        <a href="">友情链接</a>
        |
    </div>
    <div class="copyright">
        Copyright © 2022 - 2122 早起的萝卜等天亮. All Rights Reserved.
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/photo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/message.js' %}"></script>
    <script>
        $(document).ready(function function_name() {
            changeImg()
        })
    </script>
{% endblock %}


</body>
</html>

