{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>主页测试</title>{% endblock %}
<!--    <base href="/">-->
    {% block link %}
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}"> <!-- 设置标签图标 -->
        <link rel="stylesheet" href="{% static 'css/index_test.css' %}">
        <link rel="stylesheet" href="{% static 'css/goods_list.css' %}">
    {% endblock %}
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/header_test.css' %}">
</head>

<body>
<!--头部-->
{% block header %}
<div id="header">
    <!--顶部 登录-->
<!--    <div class="header_top">-->
<!--        &lt;!&ndash; 中部 &ndash;&gt;-->
<!--        <div class="header_top_center">-->
<!--            &lt;!&ndash; 中部左侧 &ndash;&gt;-->
<!--            <div class="h_top_left">-->
<!--                欢迎来到胡萝剧场！-->
<!--            </div>-->
<!--            &lt;!&ndash; 中部右侧&ndash;&gt;-->
<!--            <div class="h_top_right">-->
<!--                <a href="{% url 'index:index_test' %}">主页测试</a>-->
<!--                &nbsp;&nbsp;&nbsp;-->
<!--                <a href="{% url 'index:register' %}">注册</a>-->
<!--                &nbsp;&nbsp;&nbsp;-->
<!--                <a href="{% url 'index:login' %}">登录</a>-->
<!--                &nbsp;&nbsp;&nbsp;-->
<!--                <a href="{% url 'index:login' %}">我的信息</a>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- 中部搜索-->
    <div class="header_center">
<!--        中部左边logo-->
        <div class="h_c_logo">
            <img src="{% static 'images/logo.png' %}" alt="">
        </div>
        <div class="h_c_search">
            <form action="#">
                <input type="text" placeholder="请输入电影名" class="t_input">
                <input type="submit" class="t_button" value="搜索">
            </form>
            <div class="hot">
                <a href="#">头号玩家</a>
                &nbsp;
                <a href="#">李孝谦</a>
                &nbsp;
                <a href="#">黑白魔女库伊拉</a>
                &nbsp;
                <a href="#">五个扑水的少年</a>
            </div>
        </div>
<!--&lt;!&ndash;        中部右边二维码&ndash;&gt;-->
<!--        <div class="h_c_code">-->
<!--            <img src="images/code.jpg" alt="">-->
<!--        </div>-->
    </div>
    <!--底部导航        -->
    <div class="nav">
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="{% url 'index:movie' %}">电影</a></li>
            <li><a href="{% url 'index:rank' %}">榜单</a></li>
        </ul>
    </div>
</div>
{% endblock %}


{% block banner %}
    <div id="ad" style="text-align: center;">
    <ul id="ad_img" >
        <li><img src="{% static 'images/banner/heidi.png' %}" width="1100" height="600" /></li>
        <li><img src="{% static 'images/banner/joker.png' %}" width="1100" height="600" /></li>
        <li><img src="{% static 'images/banner/whiteSnake.png' %}" width="1100" height="600" /></li>
        <li><img src="{% static 'images/banner/zootopia.png' %}" width="1100" height="600" /></li>
    </ul>
    <ul id="ad_num">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
</div>
{% endblock %}
<!--banner-->


<!--精选图片-->
{% block main %}
    <div id="ms">
    <div class="ms_top">
        <span>热映电影</span>
        <span>胡萝剧场 有你好看</span>
    </div>
    <div class="ms_body">
<!--        <div class="ms_body_left">-->
<!--            <ul>-->
<!--&lt;!&ndash;                {% for image in images %}&ndash;&gt;-->
<!--                    <li>-->
<!--                    <a href="">-->
<!--                        <img src="{{ image.url }}" alt="">-->
<!--                        <p class="name">字</p>-->
<!--                        <div class="photoby">-->
<!--                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>-->
<!--                            <p>lzh</p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--&lt;!&ndash;                {% endfor %}&ndash;&gt;-->
<!--            </ul>-->
<!--        </div>-->
        <div class="ms_body_left">
            <ul>
                <li>
                    <a href="{% url 'index:movieDetail' %}">
                        <img src="https://img9.doubanio.com/view/photo/l/public/p2700138245.webp" alt="">
                        <p class="name">天书奇谭</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>罗天亮</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2395517414.webp" alt="">
                        <p class="name">爱乐之城</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2868462052.webp" alt="">
                        <p class="name">花束般的恋爱</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="ms_body_center">
            <ul>
                <li>
                    <a href="{% url 'index:movieDetail' %}">
                        <img src="https://img9.doubanio.com/view/photo/m/public/p2655030796.webp" alt="">
                        <p class="name">白蛇2：青蛇劫起</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>罗天亮</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://img2.doubanio.com/view/photo/m/public/p1219939183.webp" alt="">
                        <p class="name">亚当斯一家</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://img9.doubanio.com/view/photo/m/public/p2535260806.webp" alt="">
                        <p class="name">无双</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="ms_body_right">
            <ul>
                <li>
                    <a href="">
                        <img src="https://img1.doubanio.com/view/photo/m/public/p2277799019.webp" alt="">
                        <p class="name">狮子王</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://img1.doubanio.com/view/photo/m/public/p2016401659.webp" alt="">
                        <p class="name">傲慢与偏见</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://img1.doubanio.com/view/photo/l/public/p2125670899.webp" alt="">
                        <p class="name">梁祝</p>
                        <div class="photoby">
                            <img src="{% static 'images/movie.png' %}" width="10" height="10" alt=""/>
                            <p>lzh</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}


<!--翻页按钮 干脆就只放在all movie-->
{% block next_button %}
    <div class="page-icon">
    <span class="page-disabled"><i></i>上一页</span>
    <span class="page-current">1</span>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">7</a>
    <a href="#">...</a>
    <a href="#">10</a>
    <a class="page-next" href="#">下一页<i></i></a>
</div>
{% endblock %}


<!--尾部-->
{% block footer %}
    <div id="footer">
    <div class="link">
        <a href="">关于我们</a>
        |
        <a href="">联系我们</a>
        |
        <a href="">友情链接</a>
        |
    </div>
    <div class="copyright">
        Copyright © 2022 - 2122 早起的萝卜等天亮. All Rights Reserved.
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/photo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/message.js' %}"></script>
    <script>
        $(document).ready(function function_name() {
            changeImg()
        })
    </script>
{% endblock %}


</body>
</html>

