{% extends 'index/index.html' %}
{% load static %}

{% block link %}
    <link rel="shortcut icon" href="{% static 'images/logo3.png' %}">   <!--为网页标题加图标，没加上-->
{#		<link rel="stylesheet" href="css/login.css">#}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}登录{% endblock %}
<!--头部-->
{% block header %}



{% endblock %}

{% block banner %}



{% endblock %}

<!--中部-->
{% block main %}
    <div id="login_body">
        <div class="login_b_center">
            <div class="login_bg">
                <h2>密码登录</h2>
                <form action="#" id="login"><!--                //用户名-->
                    <div class="userName">
                        <span></span><input type="text" placeholder="  请输入用户名">
                    </div><!--                //密码-->
                    <div class="password">
                        <span></span><input type="password" placeholder="  请输入密码">
                    </div><!--                //登录按钮-->
                    <div class="login_btn">
                        <a href="index.html">
                            <input type="button" value="登录">
                        </a>
                    </div>
                    <div class="forgot_password">
                        <!-- <a href="">忘记密码</a> -->
                        <a href="regist.html">注册账号</a>
                        <!-- <a href="1.0/index.html">帮助</a> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block next_button %}



{% endblock %}

