{% extends 'index/index.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>榜单</title>{% endblock %}
    {% block link %}
        <link rel="stylesheet" href="{% static 'css/rank.css' %}">
    {% endblock %}
</head>

<body>

{% block banner %}
{% endblock %}

{% block main %}
    <div class="hl_body">
        <ul>
            <li><a>天书奇谭</a></li>
            <li><a>我是真的喜欢李孝谦</a></li>
            <li><a>梁祝</a></li>
            <li><a>黑白魔女库伊拉</a></li>
            <li><a>楚门的世界</a></li>
            <li><a>怦然心动</a></li>
            <li><a>无间道</a></li>
            <li><a>何以为家</a></li>
            <li><a>末代皇帝</a></li>
            <li><a>指环王1：护戒使者</a></li>
        </ul>
    </div>
{% endblock %}

</body>
</html>

