*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
    overflow-x: hidden;
    overflow-y: scroll;
}

a{
    text-decoration:none ;
}

#ad{
    width:1200px;
    height:600px;
    position:relative;
    margin: 0 auto;
}

/*取消小圆点*/
#ad li{
    list-style:none;
}

#ad_img img{
    position: relative;
    top: -70px;
    width: 1200px;
    height: 400px;
}

/*角落显示数字的ul*/
#ad_num{
    overflow:hidden;
    position:absolute;
    bottom:150px;
    right:15px;
    color:#FFF;
}

/*数字的浮动*/
#ad_num li{
    border: white solid 1.5px;
    float:left;
    margin:0px 5px;
    padding:3px 10px;
}

.numsover{
    /*background-color:white;*/
    background: rgba(255, 255, 255, 0.7);
    color:black;
    font-weight: bold;
}


#ms{
    width: 1920px;
    margin: 0 auto;
    position: relative;
    top: -120px;
}

#ms .ms_top{
    width: 140px;
    height: 55px;
    background-size: 1200px 55px;
    line-height: 55px;
    margin-left: 190px;
    border-radius: 0px;
    margin-top: 0px;
    background: #CAEBF2;
}

#ms .ms_top span{
    width: 140px;
    color: #333333;
    font-weight: bold;
    margin: 0 30px;
    font-size: 20px;
}

#ms .ms_body{
    width: 1900px;
    margin-left: 85px;
    display: flex;
    /*margin: 0 auto;*/
    position: relative;
    left: 75px;
}

#ms .ms_body .ms_body_left li{
    /*margin: 10px auto;*/
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid darkgray;
    border-radius: 8px 8px 8px 8px;
}

#ms .ms_body .ms_body_center li{
    /*margin: 10px auto;*/
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid darkgray;
    border-radius: 8px 8px 8px 8px;
}

#ms .ms_body .ms_body_right li{
    /*margin: 10px auto;*/
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid darkgray;
    border-radius: 8px 8px 8px 8px;
}

#ms .ms_body li p.name{
    padding-left: 10px;
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#ms .ms_body li .photoby{
    padding-left: 185px;
    margin-top: 0px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: gray;
    margin-bottom: 5px;
}

#ms .ms_body img{
    width: 200px;
    height: 300px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 0px;
    cursor: pointer;
    transition: all 0.6s;
}

#ms .ms_body img:hover{
    transform: scale(1.1);
}

#ms .ms_body li .photoby img{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

/*设置图片左边*/
#ms .ms_body_left ul{
    list-style: none;
    flex: 1;
    padding-left: 10px;
    margin-top: 20px;
}

/*设置图片中间*/
#ms .ms_body_center ul{
    list-style: none;
    flex: 1;
    padding-left: 10px;
    margin-top: 20px;
}

/*设置页面右边*/
#ms .ms_body_right ul{
    list-style: none;
    flex: 1;
    padding-left: 10px;
    margin-top: 20px;
}

.hl_top{
    width: 140px;
    height: 55px;
    /*background-size: 600px 55px;*/
    line-height: 55px;
    margin-left: 0px;
    border-radius: 0px;
    margin-top: 0px;
    background: #CAEBF2;
}

.interval_top{
    width: 740px;
    height: 55px;
    line-height: 55px;
    margin-left: 0px;
    border-radius: 0px;
    margin-top: 0px;
    background: #333333;
}

.hl_top span{
    color: #333333;
    font-weight: bold;
    margin: 0 30px;
    font-size: 20px;
}

.hl_body a {
    color: white;
    text-decoration: none;
}

/*<!-- div 大小设定 -->*/
.hl_body {
    float: left;
    width: 300px;
    height: 500px;
    margin-top: 20px;
    margin-left: 125px;
    background: #333333;
    border: 1px solid #FFF;
    box-shadow: #d0d0d0 1px 1px 1px 0px;
}

.hl_body ul {
    counter-reset: section;
    margin-top: 10px;
    margin-left: 40px;
}

.hl_body li {
    float: left;
    width: 260px;
    border: #333333;
    line-height: 46px;
    height: 46px;
    overflow: hidden;
    color: #CAEBF2;
    font-size: 16px;
}

.hl_body li:before {
    counter-increment: section;
    content: counter(section);
    display: inline-block;
    padding: 0 12px;
    margin-right: 10px;
    height: 18px;
    line-height: 18px;
    background: #CAEBF2;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
}

/*<!-- 排名前三名颜色控制 -->*/
.hl_body li:nth-child(1):before {
    background: #FF3B3F;
}

.hl_body li:nth-child(2):before {
    background: #FF3B3F
}

.hl_body li:nth-child(3):before {
    background: #FF3B3F
}

