*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#log_header{
    height: 100px;
    width: 100%;
    border: 1px solid;
	color: #000000
}

#log_header .log_h_center{
    width: 1200px;
    height: 110px;
    margin: 0 auto;   /*并且父元素的宽度是确定的，意思是这个元素处于其父元素的居中位置，并且这个元素的上下外边距为0*/
    display: flex;
}

#log_header .log_h_left{
     height: 110px;
     flex: 1;
 }

#log_header .log_h_left img{
    height: 70px;
    width: 80px;
    float: left;
    margin-top: 15px;
}

#log_header .log_h_center p{
    float: left;
    text-align: left;
    width: 335px;
    font-size: 22px;
    border: 2px solid black;
    margin-top: 25px;
    margin-left: 20px;
    color: floralwhite;
    background: lightcoral;
    padding: 12px;
}

#login_body{
    height: 600px;
    background-image: url("../images/login_background.png");
    background-position: center;
    background-size: 1000px 600px;
}

#login_body .login_b_center{
    width: 1250px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

#login_body .login_bg{
    width: 350px;
    height: 351px;
    background: rgba(255, 255, 255, 0.7);   /*rgba最后的参数可修改透明度*/
    position: absolute;
    right: -10px;
    top: 90px;
    padding: 30px;
}

/* 密码登录框设置 */
.form-contain div{
    height: 40px;
    margin-top: 20px;
}

.form-contain span{
    width: 37px;
    height: 40px;
    display: inline-block;
    background: rgba(43, 43, 43, 0.2);
    float: left;
    border: 1px grey;
}

/*#login .userName span{*/
/*	background-size: 38px 38px;*/
/*	background-image: url("../images/username.png");*/
/*}*/

.form-contain .userName span{
	background-size: 38px 38px;
	background-image: url("../images/username.png");
}

.form-contain .password span{
	background-size: 38px 38px;
    background-image: url("../images/password.png");
}

.form-contain input{
    width: 250px;
    height: 40px;
    float: left;
}

.form-contain .login_btn input{
    background-color: rgba(43, 43, 43, 0.6);
    width: 290px;
    border: none;
    color: floralwhite;
    float: center;
}

/* 鼠标悬浮在字体上，字体颜色发生改变 */
.form-contain .login_btn a:hover{
    color: black;
    float: left;
}

.form-contain .forgot_password{
	color: black;
    text-align: right;
    margin-top: 10px;
	font-size: 15px;
}

/* 去除默认样式的下划线 */
a{
    text-decoration:none;
}



