*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#reg_body

#reg_header{
    height: 110px;
    width: 100%;
    box-shadow: 0px 0px 10px orange;
}

#reg_header .reg_h_center{
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    display: flex;
}

#reg_header .reg_h_left{
     height: 110px;
     flex: 1;
 }

#reg_header .reg_h_left img{
    height: 70px;
    width: 80px;
    float: left;
    margin-top: 15px;
}
#reg_header .reg_h_left h2{
    float: left;
    margin-top: 35px;
    margin-left: 30px;
}

#reg_header .reg_h_right{
    height: 110px;
    flex: 1;
    padding-top: 50px;
    padding-left: 30px;
}

.reg_back {
    /*è®¾ç½®æ•´ä½“çš„å°ºå¯¸ã€èƒŒæ™¯è‰²ã€è¾¹è·ç­‰*/
    width: 1200px;
    height: 600px;
    /*background: white;*/
    background-image: url("../images/register_background.jpg");
    /*opacity: 1; !* è°ƒæ•´é€æ˜Žåº¦ *!*/
    background-position: center;
    background-size: 1200px 1000px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 112px;
}

.form-contain{
    position: relative;
    top: 10px;
}

.reg_left {
    /*è®¾ç½®å·¦æµ®åŠ¨å’Œå¤–è¾¹è·*/
    float: left;
    margin: 10px;
}

/*.reg_left > p:first-child {*/
/*    !*è®¾ç½®æ®µè½ï¼ˆæ–°ç”¨æˆ·æ³¨å†Œï¼‰é¢œè‰²å’Œå­—ä½“å¤§å°*!*/
/*    color: rgba(256, 256, 256, 0.7);*/
/*    font-size: 20px;*/
/*}*/

/*.reg_left > p:last-child {*/
/*    !*è®¾ç½®æ®µè½ï¼ˆUSER REGISTERï¼‰é¢œè‰²å’Œå­—ä½“å¤§å°*!*/
/*    color: #A6A6A6;*/
/*    font-size: 20px;*/
/*}*/

.reg_left p{
    text-align: right;
    color: rgba(256, 256, 256, 0.9);
    font-size: 25px;
    position: relative;
    top: 0px;
    left: 850px;
}

.reg_center {
    /*è®¾ç½®ä¸­é—´çš„å„ç§è¾“å…¥æ¡†ç­‰*/
	text-align: center; /*è®©divå†…éƒ¨æ–‡å­—å±…ä¸­*/
	width: 450px;
	height: 350px;
    background-color: rgba(43, 43, 43, 0.4);
	margin: auto;
	position: absolute;
	top: -10px;
	left: 0;
	right: 0;
	bottom: 0;
}

.reg_right {
    /*è®¾ç½®å³è¾¹æ®µè½æµ®åŠ¨å’Œå¤–é—´è·*/
    float: right;
    margin: 30px;
}

.reg_right p{
    position: relative;
    top: 450px;
    right: 350px;
}


.reg_right > p:first-child {
    font-size: 16px;
    color: rgba(256, 256, 256, 0.6);
}

.reg_right p a{
    /*è®¾ç½®è¶…é“¾æŽ¥ï¼ˆç«‹å³ç™»å½•ï¼‰é¢œè‰²*/
    color: #FF3B3F;
    font-weight: bold;
}

.td_left {
    /*è®¾ç½®è¡¨å•ä¸­å­—ä½“å¯¹é½æ–¹å¼å’Œå®½åº¦ã€é«˜åº¦*/
    width: 100px;
    text-align: right;
    height: 40px;
    color: rgba(256, 256, 256, 0.7);
}

.td_right {
    /*è®¾ç½®è¾“å…¥æ¡†å†…è¾¹è·*/
    padding-left: 40px;
    height: 40px;
}

#user_name, #pwd, #Email, #rename, #mobile, #Birthday{
    /*è®¾ç½®è¾“å…¥æ¡†å¤§å°å’Œè¾¹æ¡†*/
    width: 200px;
    height: 30px;
    border: 1px solid #A4A4A4;
    /* è®¾ç½®è¾¹æ¡†ä¸ºåœ†è§’ */
    border-radius: 8px;
    padding-left: 10px;
}

.td_right span{
    color: rgba(256, 256, 256, 0.7);
}

#input_captcha{
    /*è®¾ç½®è¾“å…¥æ¡†å¤§å°å’Œè¾¹æ¡†*/
    width: 100px;
    height: 30px;
    border: 1px solid #A4A4A4;
    /* è®¾ç½®è¾¹æ¡†ä¸ºåœ†è§’ */
    border-radius: 8px;
    margin-left: 40px;
    margin-top: 5px;
}

.captcha-graph-img{
    /*éªŒè¯ç å›¾ç‰‡*/
    vertical-align: middle;
    height: 30px;
    width: 95px;
}

#btn_sub{
    /*æ³¨å†ŒæŒ‰é’®*/
    margin-left: 100px;
    margin-top: 30px;
    background: rgba(43, 43, 43, 0.8);
    color: rgba(256, 256, 256, 0.9);
    font-size: 16px;
    width: 150px;
    height: 40px;
    border: 1px solid rgba(43, 43, 43, 0.8);
    border-radius: 20px;
}
